html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.greeting{
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-family: vollkorn;
  text-align: center;
}

.restartButton {
  width:60px;
  height:60px;
  background-image: url('./assets/restart.png');
  background-size: cover;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.infoButton {
  width:60px;
  height:60px;
  background-image: url('./assets/info.png');
  background-size: cover;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}